$lineSpace: 20px;
$blockSpace: 40px;
$previewWidth: 225px;
$previewHeigth: 300px;

$largeWidth: $previewWidth * 5 + $blockSpace * 4;
$middleWidth: $previewWidth * 3 + $blockSpace * 2;
$smallWidth: $previewWidth + $blockSpace * 2;

$standartColor1: #4198D2;
$standartColor2: #FFFFFF;
$standartColor3: #B8B8B8;
$standartColor4: #424242;
$standartColor5: #878787;
$standartColor6: #A7A7A7;

$menuTitleSize: 14px;
$menuLinkSize: 11px;
$newsLinkSize: 20px;
$newsBodySize: 16px;
$footerMobileSize: 18px;

$standartFont: Helvetica Neue Light;

$headerLineHeight: 50px;

$searchPadding: 5px;
$searchHeight: 20px;

$widthScrollLine: 15px;

$standartTransp: 0.2;


@media screen   and (min-height: 400px){
  .popupBody{
    max-height: 65vh;
    overflow: auto;
  }
}

@media screen   and (max-height: 400px){
  .popUp{
    overflow: auto;
  }
}


@media screen   and (min-width: $middleWidth + $widthScrollLine){
  .first{
    margin-left: 0px !important;
  }

  .last{
    margin-right: 0px !important;
  }

  header {

    .logoText {
      font-size: 23px;
    }

    .searchBlock {
      float: right;
    }

    .topMenu {
      margin-left: $blockSpace;
      float: right;
      a {
        margin: 0px $lineSpace / 2 0px;
      }
    }

    .mobileMenu {
      display: none;
    }
  }

  main{
    .previewBlock{
      margin: $blockSpace $blockSpace / 2 0px;
      float: left;
    }
  }

  .popupWindow {
    width: 567px;
  }

  footer {
    font-size: $menuLinkSize;
    .footerBlock {
      width: 25%;
      float: left;
    }
  }

  .socialItem {
    width: 33%;
  }

  .spriteLocation {
    width: 14px;
    height: 14px;
    background-position: -207px -75px;
    margin-bottom: -3px;
  }
}


@media screen and (min-width: $largeWidth + $widthScrollLine) {

  .content{
    width: $largeWidth;
  }

  header{
    min-width: $largeWidth;

    .searchLine input {
      width: $previewWidth * 2 + $blockSpace - ($searchPadding * 2 + $searchHeight);
    }
  }

  main{
    .first5{
      margin-left: 0px !important;
    }

    .last5{
      margin-right: 0px !important;
    }
  }
}

@media screen   and (min-width: $middleWidth + $widthScrollLine)
                          and (max-width: $largeWidth + $widthScrollLine) {

  .content{
    width: $middleWidth;
  }

  header{
    min-width: $middleWidth;

    .searchLine input {
      width: $previewWidth - ($searchPadding * 2 + $searchHeight);
    }
  }

  main{
    .first3{
      margin-left: 0px !important;
    }

    .last3{
      margin-right: 0px !important;
    }
  }
}


@media screen and (max-width: $middleWidth + $widthScrollLine - 0.5px) {
  .mobileHidden{
    display: none;
  }

  .content{
    width: $smallWidth;
  }

  header{
    min-width: $smallWidth;

    .logoText {
      font-size: 17px;
    }

    .searchBlock{
      clear: both;

      .searchLine input {
        width: $smallWidth - ($searchPadding * 4 + $searchHeight);
      }
    }

    .topMenu{
      left: 50%;
      width: 50%;
      height: 100%;
      margin-top: $headerLineHeight;
      background-color: transparentize($standartColor1, $standartTransp);
      position:fixed;
      .verticalLinks {
        width: $smallWidth / 2;
        height: 100%;
        a {
          text-align: right;
          display: block;
        }
      }
    }
  }

  main{
    padding-top: $headerLineHeight - $blockSpace;
    .previewBlock{
      margin: $blockSpace auto 0px;
    }
  }

  .popupWindow {
    width: $smallWidth;
  }

  footer{
    font-size: $footerMobileSize;
    .footerBlock {
      display: inline-block;
    }
  }

  .socialItem {
    margin-right: $lineSpace / 2;
  }

  .spriteLocation {
    width: 28px;
    height: 28px;
    background-position: -149px -259px;
    margin-bottom: -7px;
  }
}


body{
  font-family: $standartFont;
}

.noScroll{
  overflow: hidden;
}

.right{
  float: right;
}

.clearBoth{
  clear: both;
}

.hidden{
  display: none;
}

.content{
  margin: 0px auto 0px;
}

.cellBlock{
  vertical-align: middle;
  display: table-cell;
}

.menuTitle{
  font-size: $menuTitleSize;
  text-transform: uppercase;
  text-decoration: none;
}

.linkImitation{
  cursor: pointer;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}


header{
  width: 100%;
  background-color: $standartColor1;
  line-height: $headerLineHeight;
  color: $standartColor2;
  z-index: 2;
  position: fixed;

  .logoBlock {
    cursor: pointer;
    float: left;

    .logoImg{
      @extend .cellBlock;
      padding-right: $lineSpace;
    }

    .logoText {
      @extend .cellBlock;
    }
  }


  .searchBlock{
    .searchLine{
      @extend .cellBlock;
      height: $headerLineHeight;

      input {
        height: $searchHeight;
        margin-right: -1px;
        padding: $searchPadding;
        border: 0px;

        font-size: $menuTitleSize;
        color: $standartColor3;

        display: block;
      }

      .searchButton {
        @extend .cellBlock;
        width: $searchPadding * 2 + $searchHeight;
        height: $searchPadding * 2 + $searchHeight;

        background-color: $standartColor2;

        cursor: pointer;

        &:hover{
          background-color: darken($standartColor2, 3%);
        }
      }
    }
  }

  .topMenu{
    a{
      @extend .menuTitle;
      @extend .linkImitation;
      color: $standartColor2;
    }
  }

  .mobileMenu{
    float: right;

    .searchLine {
      @extend .cellBlock;
      height: $headerLineHeight;

      .mobileMenuItem {
        @extend .cellBlock;
        width: $searchPadding * 2 + $searchHeight;
        height: $searchPadding * 2 + $searchHeight;
        padding-left: $lineSpace / 2;

        text-align: left;
        cursor: pointer;

        .sprite{
          margin: 0px !important;
          float: right !important;
        }
      }
    }
  }
}


main{
  margin-top: $headerLineHeight;
  .previewBlock{
    width: $previewWidth;

    .previewImg{
      width: $previewWidth + 4px;
      height: $previewWidth + 4px;
      overflow: hidden;

      .noImg{
        @extend .cellBlock;
        width: $previewWidth;
        height: $previewWidth;
        background-color: $standartColor1;

        color: $standartColor2;
        font-size: 35px;
        text-align: center;

        border: 2px solid darken($standartColor1, 50%);
        border-radius: 50%;
      }
    }

    .newsLink{
      @extend .linkImitation;
      margin-top: $lineSpace;

      color: $standartColor1;
      font-size: $newsLinkSize;
      text-align: center;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .moreNews{
    @extend .menuTitle;
    width: $previewWidth / 2;
    margin: $lineSpace auto $lineSpace;
    padding: $lineSpace;
    background-color: $standartColor1;

    border: 2px solid darken($standartColor1, 50%);

    color: $standartColor2;
    font-weight: bold;
    text-align: center;

    cursor: pointer;
    display: block;

    &:hover{
      background-color: lighten($standartColor1, 40%);
      color: darken($standartColor2, 40%);
    }
  }
}


.popUp{
  width: 100%;
  height: 100%;
  position: fixed;
  margin: $headerLineHeight  - 1px 0px 0px;
  background-color: transparentize($standartColor1, $standartTransp);

  .popupWindow {
    margin: 1px auto 0px;

    border: 2px solid darken($standartColor1, 50%);
    border-radius: $lineSpace / 2;

    overflow: hidden;

    .popupHeader{
      background-color: darken($standartColor1, 10%);

      .popupClose{
        @extend .cellBlock;
        height: $lineSpace * 3;
        padding: 0px $lineSpace / 2 0px;
        cursor: pointer;

        .closeSprite{
          @extend .sprite;
          @extend .sprite-close;
        }

        &:hover{
          .closeSprite{
            @extend .sprite-close_2x;
          }
        }
      }
    }

    .popupBody{
      padding: $lineSpace $lineSpace / 2 $lineSpace / 2;
      background-color: $standartColor2;

      font-size: $newsBodySize;
      color: $standartColor4;

      .popupBodyTitle{
        margin: 0px 0px $lineSpace;
        font-size: $newsBodySize / 2 * 3;
      }

      .popupImgBlock{
        width: 281px;
        height: 282px;
        margin-right: $lineSpace / 2;
        margin-bottom: $lineSpace / 2;
        float: left;
        overflow: hidden;
      }
    }
  }
}

footer{
  width: 100%;
  margin-top: $blockSpace;
  padding: 0px 0px $blockSpace;
  background-color: darken($standartColor3, 50%);

  color: $standartColor6;

  .footerBlock {
    margin-top: $blockSpace;
    .footerTitle{
      @extend .menuTitle;
      margin-bottom: $lineSpace;
      color: $standartColor5;
    }

    a{
      @extend .linkImitation;
      color: $standartColor1;
    }

   ul{
     padding: 0px;
     list-style-type: none;
   }

    ol{
      padding: 0px;
      list-style-position: inside;
    }

    li{
      margin: 0px 0px $lineSpace / 2;
      text-align: left;
    }
  }
}

$socialIcons: (
        'sprite-Twitter',
        'sprite-Pinterest',
        'sprite-YouTube',
        'sprite-Facebook',
        'sprite-Google-_',
        'sprite-Instagram',
);

.socialItem {
  margin-bottom: $lineSpace;

  cursor: pointer;
  float: left;
}

@for $i from 0 to length($socialIcons) {
  .socialItem{
    .my-#{unquote(nth($socialIcons, $i+1))}{
      @extend .#{unquote(nth($socialIcons, $i+1))};
      padding: 0.5px;
      margin: 0px;
      &:hover{
        @extend .#{unquote(nth($socialIcons, $i+1))}_Color;
      }
    }
  }
}

.spriteLocation {
  @extend .sprite;
  margin-right: $lineSpace / 2;
  display: inline-block;
}